.photosline{
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-gap:5px;
}

.open-slide-show{
	position: absolute !important;
	top: 0;
	width:1000px;
	height: 80vh;
	left: -20px;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 100;
	display: none;

}
.close-slide-show{
	position: absolute !important;
	right: 0;
}
.slidefooterbar{
	position: absolute !important;
	bottom: 0;
	left:0;
	display: flex;
	justify-content:space-around;
	align-items: center;
}
.slidefooterbar i
{
	font-size: 20px;
	cursor: pointer;
}
.comment_bar{
	position: relative;
	padding-left:0px !important;
	padding-right: 0px !important;
}
.image_bar{
	position: relative;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#comments_input{
	position:absolute !important;
	top: 470px !important;
	opacity: 1 !important;
	height: 58px !important;
}
.photo-comments-bar{
	position:absolute !important;
    /*display:flex;*/
    top:0px;
    width: 100%;
    bottom: 45px;
    /*flex-direction: column;*/
    overflow-y:scroll;
}
#photo-likeshow {
    position: absolute !important;
    top: -190px;
    left: 137px;
    max-height: 300px;
    width: 300px;
    overflow: auto;
    z-index: 1000;
    display: none;
}

#photo-likeshow img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;	
}
#photo-likeshow a{
	text-decoration: none;
}
.page-photo-countlike{
	cursor: pointer;
}