.fa-thumbs-o-up,.fa-comment{
	font-size: 1.8em !important;
	cursor: pointer;
	text-align: center;

}
#post-likeshow{
	position: absolute;
    top: 36px;
    left: -16px;
    max-height: 300px;
    width: 300px;
    overflow: auto;
    z-index: 1000;
}
#post-likeshow img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;	
}
#post-likeshow a{
	text-decoration: none;
}
.share_comments{
    max-height: 300px !important;
    overflow: auto !important;
}