
body img{
    object-fit: cover !important; 
 
}
a{
	text-decoration: none !important;
	
}

header{
	position: relative;
}
nav li{
	position: relative;
}
.sup{
	color:red;
	font-size: 20px !important;
}
.i{
	color: white;
	transform: scale(1.4);
}
.badge:hover{
	transform: scale(1.5);
}
.search_data{
	position: absolute;
	top:47px;
	width:400px;
	font-size: 14px;
	max-height: 600px;
	overflow: auto;
}
#viewrequest{
	max-height: 600px;
	overflow: auto;
}
#user_plus{
	cursor: pointer;
}
/*#friends_list{
	display: grid ;
	grid-template-columns:1fr 1fr ;
	grid-gap: 10px;
	grid-auto-rows: 100px;
}
.friend_box{
	display: grid;
	grid-template-columns:1fr 5fr;
	grid-gap: 15px;
	align-items: center;
	background: rgba(125,125,125,0.3);
	font-family: 'Merienda', cursive;

}
.container{

	position: relative;
	top: 56px !important;
}

.open-slide-show{
	position: absolute;
	top: 0;
	width:80%;
	height: 90vh;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 100;
	display: none;
}
.close-slide-show{
	position: absolute !important;
	right: 0;
}
#like_photo_show{
	position: absolute;
	top:0px;
	left: 0px;
	width:300px;
	max-height:400px;
	overflow: auto;
	border-radius: 20px;
}
.post-menu{
	position: absolute;
	top:0;
	right:0;
	display: none;

}
.post-menu li:hover{
	color: white;
	background: blue !important;
}
*/





/*nkarneri css*/
 /*#photo{
  background-color:#1d1d1d !important;
  font-family: "Asap", sans-serif;
  color:#989898;
  margin:10px;
  font-size:16px;
}*/


/*friend list*/
aside .list-group-item {
   padding: .75rem 0.25rem !important;
}
    