body{
    background-repeat: no-repeat;
    background: linear-gradient(#59898d,#538685) !important;
}
#userphoto{
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 100;
	position: absolute;
}
#main{
	height: auto;
	position: relative;
	top: 100px;

}
table ,tr,td {
	border:20px solid transparent;
}
td>span{
	background:lightblue;
	color:black;
	padding: 5px;
	border-radius: 10px;
}
table tr>td:last-child{
	color:white;
	font-family: 'Lobster', cursive;
	font-size: 1.1em;

}

.image{
	overflow: hidden;
	width: 200px;
	height: 200px;
	position: relative;
    border-radius: 50%;
}
.image > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#formmodel>div{
	position: relative;
}
#formmodel span{
	position: absolute;
	top:35px;
	left: 0px;
	color: red;
	font-size: 15px;
	font-family: inital;
}
#invaldate{
	
	top:245px !important;
	left: 180px !important;
}
aside{
	height: 100vh;
	position: fixed !important;
	right: 5px;
	top: 53px;
	overflow: auto;
	background-color:white;
}
aside .list-group-item{
     /*background-color: white !important;*/
     border:1px solid transparent !important;
}
section{
	position: fixed !important;
	height: 100vh;
	
	left:5px;
	top:52px;
	overflow: auto;
	background: transparent;
	overflow: auto;

}

article{
	position: relative !important;
	top: 50px;
	left: 25%;
}
#addfile li{
	position: relative;
	width: auto;
	overflow: hidden;
	border-radius: 15px;
}
#addfile input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}
#file{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: minmax(80px,180px);
	grid-auto-columns: minmax(80px,180px);
}