*{
	margin: 0;
	box-sizing: border-box;
}
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}
#main{
	position: absolute;
	width: 460px;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 600px;
	margin:auto;
	background:white;


}
#main button {
	padding: 10px 30px;
}
span{
	color: red;
	position: absolute;
	top:35px;
	left: 0;
	font-family: 'Old Standard TT', serif;

}
form>div {
	position: relative;
}
.err{
	position: absolute !important;
	bottom: -40px !important;
	left: 0!important;
	width: 100% !important;
}